/*
@font-face {
    font-family: 'Windsor D';
    src: url('fonts/WindsorD-Reg.woff2') format('woff2'),
        url('fonts/WindsorD-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

@font-face {
    font-family: 'Windsor D';
    src: url('fonts/WindsorD-Bol.woff2') format('woff2'),
        url('fonts/WindsorD-Bol.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}